@import './components/generics/horizontalSpinner.scss';

@import './components/specifics/leftSide/titleUnderlined.scss';
@import './components/specifics/leftSide/typing.scss';
@import './components/specifics/leftSide/blockquote.scss';

@import './components/specifics/unresponsiveMenu/menuItem.scss';

@import './components/specifics/toolbar/menuButton.scss';
@import './components/specifics/toolbar/responsiveMenu.scss';

@import './font.scss';
@import '../../../node_modules/react-typist/dist/Typist.css';

* {
  margin: 0px;
  padding: 0px;
}

*:focus {
  outline: 0;
  box-shadow: 0 0 0 0;
  border: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}