#menu-button {
  position: absolute;
  right: 5%;
  top: 40%;
}

.line {
  transition: all 0.3s ease-in-out;
  width: 25px;
  height: 3px;
  display: block;
  background: #2E416D !important;
}

.line:nth-child(2), .line:nth-child(3) {
  margin-top: 2px;
}

.menu-button-pressed .line:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
  background: #2E416D !important;
}

.menu-button-pressed .line:nth-child(2) {
  opacity: 0;
}

.menu-button-pressed .line:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
  background: #2E416D !important;
}


